::ng-deep .modal-content {
    background: transparent;
    height: 0px;
    position: absolute;
    left: -20%;top:50px;
}
iframe{
    width:700px;height:400px;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    iframe{
        width:400px;height:300px;
    }
    ::ng-deep .modal-content {
        position: absolute;
        left: 10%; top:100px;
    }
}
