.search {
    position: relative;
    height: 95vh;
    padding-top: 20vh;
    overflow-y: hidden;
}
.logo{
    width:12%;
}
.bar {
    margin:0 auto;
    width:76%;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
}
.bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}
.searchbar {
    height: 45px;
    border: none;
    width: 95%;
    font-size: 16px;
    outline: none;
}
.voice {
    position:absolute;top:12px;right:20px;
    height: 20px;
}
.slogan{
    font-size: 16px;
    color: #797979;
}
.result__container{
    text-align: left; 
    height:95vh;
    width:100vw;
    overflow-y: auto;
}
.fa-times{
    cursor: pointer;
    position:fixed; 
}
.search__item{
    width:80%;margin:0 auto;
    cursor: pointer;
}
.thumbnail{
    width:100%;
}
.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
 .description{
     color:gray;
 }
